@import "tailwindcss";
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 25px;
  overflow-x: hidden;

  scrollbar-color: #0f204e white;
}

.main-title {
  /* color: #0f204e; */
  margin: 0 auto 45px;
  border: 2px solid;
  padding: 10px 20px;
  /* font-size: 40px; */
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.main-title-1 {
  color: #0f204e;
  margin: 0 auto 45px;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 40px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.main-title:hover {
  color: #0f204e;
  border: 2px solid transparent;
  transition-delay: 0.5s;
}
.main-title-1:hover {
  color: white;
  border: 2px solid transparent;
  transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.main-title-1::before,
.main-title-1::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #0f204e;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title-1::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title-1::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.main-title-1:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}
.main-title-1:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}
.scroller {
  scrollbar-color: #0f204e #f3f4f6;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

.animate-scroll-slow {
  animation: scroll 100s linear infinite;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 120s linear infinite;
}
